<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-logo-wrapper">
                    <a href="https://dw.dynaco.co/index.html" class="logo-image">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="footer-wrapper">
                    <ul class="footer-menu helper right">
                        <li>
                            <a href="https://marshando.com/"> Página principal </a>
                        </li>
                        <li>
                            <a href="https://docs.marshando.com/"> Documentación </a>
                        </li>
                    </ul>
                    <p class="copyright helper right">
                        <a href="https://inphotech.co/">Inphotech</a> - 2024 © 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>