<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>WikiGroup Menu</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/public/index.html">Inicio</a></li>
            <li><a href="/proyectos-y-talleres">Proyectos y Talleres</a></li>
            <li><a href="/documentacion">Documentación</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>